<!-- <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <div>
      <% if (profile) {%>
        <div>
          <h1>My Profile</h1>
          <p>Id: <%= profile.id %></p>
          <p>Name: <%= profile.name %></p>
          <p>Email: <%= profile.email %></p>
          <p>Password: <%= profile.password %></p>
        </div>
        <form action="/users/edit/<%= profile.id %>" method="POST">
          <label for="">Name</label>
          <input type="text" name="name">
          <br>
          <label for="">Email</label>
          <input type="text" name="email">
          <br>
          <label for="">Password</label>
          <input type="text" name="password">
          <br>
          <button type="Submit">Update</button>
        </form>
        <%}%>
    </div>
  </body>
  </html> -->
  <title>My Profile</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/header.css" />
  <link rel="stylesheet" href="/styles/profile.css" />

    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_header.ejs') %>
  <main id="main-container">
    <section id="section-container">
      <article>
        <h2>My Profile</h2>
        <form id="profile-form" method="POST" action="/users/<%= user.id %>">
          <fieldset>
            <label for="name">Name:</label>
            <div id="form-divider"></div>
            <input id="title" type="text" name="name" value="<%= user.name %>"/>
          </fieldset>
          <fieldset>
            <label for="email">Email:</label>
            <div id="form-divider"></div>
            <input id="email" type="text" name="email" value="<%= user.email %>" />
          </fieldset>
          <fieldset>
             <label for="password">Password:</label>
            <div id="form-divider"></div>
            <input id="password" type="text" name="password" />
          </fieldset>
          <div class="button">
            <button id="margin-update" type="submit">Update</button>
          </div>
        </form>
      </article>
    </section>
  </main>
</body>
</html>
