<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/header.css" />
  <link rel="stylesheet" href="/styles/single_resource.css" />

  <title>Document</title>
</head>
<body>
  <%- include('partials/_header.ejs') %>
  <div class="one">
    <div class="image-center">
    <fieldset>
      <img src="<%= singleResource.url_cover_photo %>">
    </fieldset>
    </div>
    <section>
       <div id="form-divider"></div>
       <input class="single-form" type="text" name="name" value=" <%=  singleResource.title%>  "/>
       <button id="margin-like" type="submit">Like</button>
       <div id="form-divider"></div>
       <input class="single-form" type="text" name="name" value="URL: <%=  singleResource.url %>"/>
       <div id="form-divider"></div>
       <input class="single-form" type="text" name="name" value="<%=  singleResource.description %>"/>
       <div id="form-divider"></div>

       <input class="single-form comments" type="text" name="name" value=""/>
       <button type="submit">Comment</button>
       <label for="select-category">Rating</label>
               <select id="select-dropdown" name="select-dropdown">
                 <option value="1">1</option>
                 <option value="2">2</option>
                 <option value="3">3</option>
                 <option value="4">4</option>
                 <option value="5">5</option>
               </select>
       <div id="form-divider"></div>
    </section>
  </div>
</html>

