<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/header.css" />
  <link rel="stylesheet" href="/styles/single_resource.css" />

  <title>Document</title>
</head>
<body>
  <%- include('partials/_header.ejs') %>
  <div class="one">
    <div class="image-center">
    <fieldset>
      <img src="https://images.squarespace-cdn.com/content/v1/5538679ce4b07179e5b8a295/1675326874278-2BNDO82OTLMHBNJBZVC7/mexico2022-20220831-A51A6855.jpg?format=2500w">
    </fieldset>
    </div>
    <section>
       <div id="form-divider"></div>
       <input class="single-form" type="text" name="name" value=" NAME "/>
       <button id="margin-like" type="submit">Like</button>
       <div id="form-divider"></div>
       <input class="single-form" type="text" name="name" value="URL: <%= URL %>"/>
       <div id="form-divider"></div>
       <input class="single-form" type="text" name="name" value="<%= DESCRIPTION %>"/>
       <div id="form-divider"></div>
       <input class="single-form comments" type="text" name="name" value="<%= COMMENTS %>"/>
       <label for="select-category">Rating</label>
               <select id="select-dropdown" name="select-dropdown">
                 <option value="1">1</option>
                 <option value="2">2</option>
                 <option value="3">3</option>
                 <option value="4">4</option>
                 <option value="5">5</option>
               </select>
       <div id="form-divider"></div>
       <input class="single-form comments-others" type="text" name="name" value="<%= COMMENTS BY OTHERS %>"/>
    </section>
  </div>
</html>

