<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/header.css" />
  <link rel="stylesheet" href="/styles/single_resource.css" />

  <title>Document</title>
</head>
<body>
  <%- include('partials/_header.ejs') %>
  <div class="one">
    <div class="image-center">
    <fieldset class="image-border">
      <img src="<%= singleResource.url_cover_photo %>">
    </fieldset>
    </div>
    <section>
      <div id="form-divider"></div>
      <input class="single-form" type="text" name="name" value=" <%=  singleResource.title%>  "/>
      <div id="form-divider"></div>
      <p>URL: <a href="<%= singleResource.url %>" target="_blank"><%= singleResource.url %></a></p>
      <input class="single-form" type="text" name="name" value="URL: <%=  singleResource.url %>"/>
      <div id="form-divider"></div>
      <input class="single-form" type="text" name="name" value="<%=  singleResource.description %>"/>
      <div id="form-divider"></div>
      <form class ="comments-rates" method="POST" action="/api/resources/feedbacks">
        <input class="single-form comments" type="text" name="comment" placeholder="Leave Comments"/>
        <label for="select-category" >Rating</label>
          <select id="select-dropdown" name="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        <div id="form-divider"></div>
        <button class="padding-submit" type="submit">Submit</button>
      </form>
      <form class="like" method="POST" action="/api/resources/likes">
        <button id="margin-like" type="submit">❤️</button>
      </form>
    </section>
  </div>
</html>

